h2 {
  font-family: "Rajdhani", sans-serif im !important;
}
._button {
  background-color: #e48257 !important;
}
.tiny_font {
  font-size: 10px;
}
.skills_section {
  background-color: #c2b092 !important;
}
/* ._button {
  background-color: #393232 !important;
} */
.title_banner {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
}
._spotlight {
  background-color: #a1cae2 !important;
}
