h2 {
  font-family: "Rajdhani", sans-serif im !important;
}
._button {
  background-color: #e48257 !important;
}
.tiny_font {
  font-size: 10px;
}
.skills_section {
  background-color: #c2b092 !important;
}
/* ._button {
  background-color: #393232 !important;
} */
.title_banner {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
}
._spotlight {
  background-color: #a1cae2 !important;
}
.submit_parent {
  display: flex !important;
  height: 100% !important;
  /* min-height: 100vh !important; */
  justify-content: center !important;
  align-items: center !important;
}
.submit_button {
  margin-top: 2rem;
}
.copyright_parent {
  display: flex !important;
  justify-content: center;
}
.my_name {
  margin-top: 1rem;
}
#drag-1,
#drag-2 {
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
